.navbar {
  display: flex;
  padding: 0.625rem 7.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.container {
  display: flex;
  height: 3.75rem;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  align-self: stretch;
}
.left_side {
  display: flex;
  height: 2.00869rem;
  justify-content: center;
  align-items: center;
}

/* Media queries */
@media only screen and (min-width: 800px) and (max-width: 1023px) {
  .navbar {
    padding: 1.25rem 3.75rem;
  }
}
