.main_content {
  display: flex;
  margin: 10.5rem 7.5rem;
  justify-content: space-between;
  align-items: flex-start;
}
.main_content h1 {
  color: #000;
  font-family: "Clash Display";
  font-size: 4.75rem;
  font-style: normal;
  font-weight: 500;
  /* line-height: 0%; 0rem */
  letter-spacing: -0.03125rem;
}
.main_content p {
  color: #6a6c6b;
  text-align: right;
  font-family: "Clash Display";
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.78125rem; /* 158.333% */
  letter-spacing: -0.03125rem;
  width: 31.25rem;
}

@media only screen and (max-width: 799px) {
  .header {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 0.625rem 1.25rem;
    z-index: 1;
    margin-bottom: 4rem;
  }
  .main_content {
    flex-direction: column;
    margin: 0.625rem 1.25rem;
    align-items: flex-start;
  }
  .main_content h1 {
    font-size: 1.625rem;
    font-style: normal;
    font-weight: 500;
  }
  .main_content p {
    text-align: left;
    font-size: 1rem;
    width: 100%;
  }
  .main_content .order_1 {
    order: 2;
  }
  .main_content .order_2 {
    order: 1;
    align-self: flex-end; /* Align heading to the right */
  }
  .main {
    gap: 3.875rem;
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1023px) {
  .main_content {
    margin: 6rem 3.75rem;
    gap: 2rem;
  }
  .main_content h1 {
    font-size: 3.5rem;
  }
  .main_content p {
    font-size: 1rem;
    width: 28.125rem;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1300px) {
  .main_content {
    gap: 2.5rem;
    margin: 8rem 3.75rem;
  }
}
