* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar,
.navbar_container,
.navbar_logo,
.navbar_buttons,
.signup_button {
  display: flex;
}

.navbar {
  display: flex;
  width: 100%;
  height: 5rem;
  padding: 0.625rem 7.5rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  margin-bottom: 3.81rem;
}
.menu_icon {
  display: flex;
  flex-direction: column;
  row-gap: 0.3rem;
  display: none;
}
.menu_vector {
  height: 2px;
}
.last_vector {
  width: 13px;
  height: 2px;
}
.navbar_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
}

.navbar_logo {
  height: 32.139px;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 0.625rem;
}

.navbar_buttons ul {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}
.navbar_buttons ul li {
  list-style-type: none;
}

.navbar_links {
  color: #fff;
  font-size: 0.875rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}
.navbar_links:hover {
  border-bottom: 1px solid white;
}
.navbar_buttons ul li Link {
  color: #fff;
  font-size: 0.875rem;
  text-decoration: none;
}

.signup_button {
  padding: 0.625rem 1.25rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 3.9375rem;
  border: 0.5px solid #fff;
  background: linear-gradient(91deg, #9e1f63 6%, #392d91 90.82%);
  transition: all 0.3s ease-in-out;
}
.signup_button button {
  color: #fff;
  font-size: 1rem;
  outline: none;
  border: none;
  background: none;
}
.signup_button:hover {
  cursor: pointer;
  background: linear-gradient(91deg, #d02480 6%, #4732e1 90.82%);
}

/* Media queries */
/* Phone version */
@media only screen and (max-width: 799px) {
  .navbar {
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    padding: 0rem 1.25rem;
  }
  .menu_icon {
    display: flex;
  }
  .navbar_buttons {
    display: none;
  }
}

/* Tablet version */
@media only screen and (min-width: 800px) and (max-width: 1023px) {
  .navbar {
    padding: 1.25rem 3.75rem;
  }
}
