.parentContainer {
  display: flex;
  width: 70.625rem;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 1.25rem;
  margin: 0 auto;
  margin-top: 14.8rem;
  margin-bottom: 13.12rem;
}
.headingText {
  text-align: center;
  font-size: 1.625rem;
  font-weight: 600;
  background: linear-gradient(90deg, #9b2065 0%, #392d91 46.47%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* reusable container styles */
.reusableContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  flex: 1 0 0;
  width: 22.70833rem;
}

.text {
  color: rgba(56, 59, 58, 0.75);
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  width: 22.9375rem;
  line-height: normal;
}
