.main-content {
  background: url(../../../../assets/bg-gradient.png), lightgray 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 52rem;
  flex-shrink: 0;
}

.main-container-1 {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.left-side {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.25rem;
  width: 29.6875rem;
}

.main-text {
  color: #fff;
  font-family: Clash Display;
  font-size: 2.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.navbar-content,
.main-buttons {
  width: 100%;
  align-items: center;
  display: flex;
}

.content-text {
  color: rgba(255, 255, 255, 0.75);
  font-family: Clash Display;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.browse-episodes,
.become-podcaster {
  display: flex;
  height: 2.625rem;
  padding: 0.625rem 1.25rem;
  justify-content: center;
  align-items: center;
  border-radius: 3.125rem;
  font-family: Clash Display;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.browse-episodes {
  gap: 0.625rem;
  border: 0.5px solid #fff;
  background: linear-gradient(91deg, #9e1f63 6%, #392d91 90.82%);
  color: #fff;
}

.become-podcaster {
  gap: 0.9375rem;
  border: 0.327px solid #fff;
  background: #fff;
}

.right-side {
  background: url(../../../../assets/rightside.png),
    lightgray -91.8px 0px / 113.698% 100% no-repeat;
  mix-blend-mode: lighten;
  width: 42.25rem;
  height: 34.3125rem;
  flex-shrink: 0;
}
