.home {
  background: url(../../../assets/LandingPageAssets/HomePage/noise-texture.png),
    white 0% 0% / 62.6953125px 62.6953125px repeat;
  font-family: "Clash Display", sans-serif;
  font-style: normal;
  line-height: normal;
  font-size: 1rem;
  font-weight: 500;
}
