.header_container {
  border-radius: 3.6875rem;
  border: 1px solid var(--Black, #383b3a);
  background: #fff;
  margin: 0.625rem 6.25rem;
  padding: 1.25rem 0.625rem;
}
.reusable_nav {
  display: flex;
  justify-content: space-between;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
}
.logo h1 {
  width: 6.5625rem;
  height: 0.75rem;
}
ul {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}
ul li {
  list-style: none;
}
ul li .links {
  text-decoration: none;
  color: #000;
  font-family: "Clash Display";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}
.signup_btn {
  display: flex;
  padding: 0.625rem 1.25rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 3.9375rem;
  border: 0.5px solid #fff;
  background: linear-gradient(91deg, #9e1f63 6%, #392d91 90.82%);
  color: #fff;
}
.menu_bar {
  display: none;
}
.mobile_links {
  display: none;
}
/* Responsive Navbar */
@media only screen and (max-width: 799px) {
  .header_container {
    border-radius: 0;
    border: none;
    margin: 0;
    background-color: unset;
    width: 100%;
  }
  .mobile_links {
    display: block;
  }
  .podcast_svg path {
    fill: white !important;
  }
  .links {
    display: none;
  }
  .menu_bar {
    display: flex;
    flex-direction: column;
    gap: 0.4375rem;
  }

  .mobile_links {
    position: fixed;
    width: 100%;
    top: 6rem;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    height: 10rem;
    z-index: 100;
  }

  .mobile_links ul {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.875rem;
    position: fixed;
    left: 20px;
    top: 7rem;
  }
  .link {
    color: white;
    text-decoration: none;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1023px) {
  .header_container {
    margin: 0.625rem 3.75rem;
  }
}
