.parentContainer {
  display: flex;
  width: 70.625rem;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 1.25rem;
  margin: 0 auto;
  margin-top: 14.8rem;
  margin-bottom: 13.12rem;
}
.headingText {
  text-align: center;
  font-size: 1.625rem;
  font-weight: 600;
  background: linear-gradient(90deg, #9b2065 0%, #392d91 46.47%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* reusable container styles */
.reusableContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  flex: 1 0 0;
  width: 22.70833rem;
}

.text {
  color: rgba(56, 59, 58, 0.75);
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  width: 22.9375rem;
  line-height: normal;
}
/* Media queries */
/* Phone version */

@media only screen and (max-width: 799px) {
  .parentContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 3.12rem;
    padding: 1.25rem;
    margin-bottom: 7.92rem;
  }
  .reusableContainer {
    width: 100%;
  }
  .headingText {
    font-size: 1.375rem;
  }
  .text {
    font-size: 0.9375rem;
    width: 100%;
  }
}

/* Tablet version */
@media only screen and (min-width: 800px) and (max-width: 1023px) {
  .parentContainer {
    padding: 0 3.75rem;
    flex-wrap: wrap;
    width: 100%;
    gap: 0rem;
  }

  .reusableContainer {
    width: 21.5625rem;
    height: 15.75rem;
  }
  .reusableContainer img {
    width: 6.11938rem;
  }
  .headingText {
    font-size: 1.375rem;
  }
  .text {
    font-size: 0.9375rem;
  }
}
