* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.main_content {
  background: url(../../../../assets/LandingPageAssets/HomePage/MainContentAssets/bg-gradient.png),
    lightgray 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 52rem;
  flex-shrink: 0;
}

.main_container_1 {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-left: 7.5rem;
  padding-right: 2.19rem;
}

.left_side {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.25rem;
  width: 29.6875rem;
}

.main_text {
  color: #fff;
  font-family: Clash Display;
  font-size: 2.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.navbar_content {
  display: flex;
  width: 100%;
  height: 5rem;
  padding: 0.625rem 7.5rem;
  box-sizing: border-box;
}
.navbar_content,
.main_buttons {
  width: 100%;
  align-items: center;
  display: flex;
}
.main_buttons {
  gap: 1.25rem;
}
.content_text {
  color: rgba(255, 255, 255, 0.75);
  font-family: Clash Display;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.browse_episodes,
.become_podcaster {
  display: flex;
  height: 2.625rem;
  padding: 0.625rem 1.25rem;
  justify-content: center;
  align-items: center;
  border-radius: 3.125rem;
  font-family: Clash Display;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.browse_episodes {
  gap: 0.625rem;
  border: 0.5px solid #fff;
  background: linear-gradient(91deg, #9e1f63 6%, #392d91 90.82%);
  color: #fff;
  transition: all 0.3s ease-in-out;
}
.browse_episodes:hover {
  background: linear-gradient(91deg, #d02480 6%, #4732e1 90.82%);
}

.become_podcaster {
  gap: 0.9375rem;
  border: 0.327px solid #fff;
  background: #fff;
}
.become_podcaster span {
  background: linear-gradient(90deg, #9e1f63 -0.08%, #3e2c8f 99.92%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.right_side {
  background: url(../../../../assets/LandingPageAssets/HomePage/MainContentAssets/rightside.png),
    lightgray -91.8px 0px / 113.698% 100% no-repeat;
  mix-blend-mode: lighten;
  width: 42.25rem;
  height: 34.3125rem;
  flex-shrink: 0;
  background-position: center;
}

/* Media Queries */

/* Phone version */
@media only screen and (max-width: 799px) {
  .main_content {
    height: auto;
  }
  .main_container_1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0rem 1.25rem;
    height: auto;
  }

  .left_side {
    order: 1;
  }
  .main_buttons {
    margin-bottom: 3.62rem;
    margin-top: 2.84rem;
    flex-direction: column;
  }
  .main_text {
    font-size: 1.75rem;
  }
}

/* Tablet version */
@media only screen and (min-width: 800px) and (max-width: 1023px) {
  .right_side {
    width: 28.375rem;
    background-position: center;
    background-size: cover;
  }
  .main_text {
    font-size: 1.75rem;
  }
  .left_side {
    width: 22.625rem;
  }
  .main_buttons {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    justify-content: flex-start !important;
    float: left;
    width: auto;
  }
  .main_container_1 {
    padding-left: 3.75rem;
    padding-right: 1.88rem;
  }
}
