.parentContainer {
  display: flex;
  width: 70.625rem;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 1.25rem;
  margin: 0 auto;
  margin-top: 14.8rem;
  margin-bottom: 13.12rem;
}
.headingText {
  text-align: center;
  font-size: 1.625rem;
  font-weight: 600;
  background: linear-gradient(90deg, #9b2065 0%, #392d91 46.47%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* reusable container styles */
.reusableContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  flex: 1 0 0;
  height: 17.375rem;
  width: 22.70833rem;
}
.buttons {
  display: flex;
  width: 17.5rem;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}
.linkContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  color: #000;
  font-size: 1rem;
  font-weight: 500;
  line-height: normal;
}
/* reusable container styles */

.discoverBtn {
  display: flex;
  padding: 0.625rem 1.25rem;
  justify-content: center;
  align-items: center;
  border-radius: 3.9375rem;
  border: 1px solid #d7d8d8;
  background: #fff;
  color: #000;
  font-family: Clash Display;
  font-size: 1rem;
  font-weight: 500;
  line-height: normal;
  transition: 0.3s ease-in-out;
}
.discoverBtn:hover {
  border: 1px solid #d7d8d8;
  background: #f6f6f6;
}

.text {
  color: rgba(56, 59, 58, 0.75);
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  width: 22.9375rem;
  line-height: normal;
}
