.App {
  align-items: center;
  width: 100%;
  justify-content: center;
  display: flex;
<<<<<<< HEAD
  font-family: "Clash Display", sans-serif;
  font-style: normal;
  line-height: normal;
=======
>>>>>>> main
}
